<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <link rel="icon" type="image/x-icon" href="{%static 'icon.png'%}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
        {% block prehead %}{% endblock %}
        <title>OpenJudge|{% block title %}Home{% endblock %}</title>
        {% block head %}{% endblock %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block posthead %}{% endblock %}
  </head>
  <body>
    <div class='nav'>
    <ul>
        <li class='banner'>OpenJudge |</li>
        <li><a href="{%url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{%url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        {% if contest %}
        <li><a href="{{contest.get_leaderboard}}">Leaderboard</a></li>
        {% endif %}
        <li><a href="{% url 'signup' %}">SignUp</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li class='banner'>| </li>
        {% block nav %}
        {% endblock %}
    </ul> 
    </div><!-- navigation -->

    <div class='container'>
        {% block body %}
        {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  </body>
</html>
