{%extends 'question/home.html'%}
{%block question%}
    <h2>Question {{question.pk}}</h2>
    <hr>
    <pre class='bg-info'>{{question.text}}
    </pre>
    <hr>
    <form action={%url 'question:question' question.id%} method='post' enctype="multipart/form-data">
    {%csrf_token%}
    {%load crispy_forms_tags%}
    {{attempt_form|crispy}}
    <input type='submit' value='Submit'  class='btn btn-success'></input>
    </form>
    <hr>
    <h3>Attempts so far</h3>
    <table class='table table-bordered table-hover'>
    <thead>
        <tr>
            <th>Sr</th>
            <th>Time</th>
            <th>Check</th>
            <th>Traceback</th>
        </tr>
    </thead>
    <tbody >
    {%for att in attempts%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{att.stamp}}</td>
            <td>{{att.correct}}</td>
            <td><pre>{{att.traceback}}</pre></td>
        </tr>
    {%endfor%}
    </tbody>
    </table>
{%endblock%}
