{% extends 'contest/contest.html' %}
{% block contest_display %}Leaderboard{% endblock %}
{% block content %}
<style>
table{
    width:100%;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
.disq{
    background-color:pink;
}
</style>
<table class='center'>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Nickname</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
            <tr>
                <td>{{forloop.counter}}</td>
                {%if not player.allowed %}
                    <td class='disq'>DQ -
                {% else %}
                    <td>
                {%endif %} {{player}}</td>
                <td>{{player.score}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
