{% extends 'contest/contest.html' %}

{% block contest_display %}
{% endblock %}
{% block head %}
{% load staticfiles %}
<style type="text/css" media="screen">
    #temp_text_area { 
    width: 100%;
    height: 500px;
    }
    #submit {
        width: 15.5em;
        color:black;
        font-size:1.2em;
    }
    .correct {
        background-color:lightgreen;
    }
    .incorrect {
        background-color:pink;
    }
    .wait {
        background-color:lightblue;
    }
    #page{
        padding-left:7em;
        padding-right:7em;
    }
    .remarks{
        display:none;
        background-color: #6CC;
        overflow:auto;
    }
</style>
<script src="{%static 'jquery.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id='page'>
<p><b>{{question}} </b>
{% if last_attempt.correct == True%}
    <i class='correct'>Correct Attempt</i>
{% elif last_attempt.correct == False%}
    <i class='incorrect'>Incorrect Attempt</i>
{% elif last_attempt.correct == None %}
<i class='wait'>...</i> {% endif %}|<pre id='remarks' class='remarks'>{{last_attempt.remarks|safe}}</pre><button id='remark_toggle'>Show/Hide Remarks</button> </p>
<pre>{{question.text}}</pre>
<hr>

<form role='form' action={%url "question" contest.pk question.pk %} method='post'>
{%csrf_token%}
{{answer_form.as_p}}
<input id="submit" type='submit' value='Submit'>
<hr>
<div class='well'>
<div id="temp_text_area">
</div>
</div>
</form>
<hr>
    <script src="{% static 'ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace/ext-modelist.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("temp_text_area");
        var textarea = $('textarea[id="id_source"]');
        var label = $('label[for="id_source"]').hide(); textarea.hide();

        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
      textarea.val(editor.getSession().getValue());
        });
        editor.setTheme("ace/theme/monokai");

        var source_name = $('input[id="id_filename"]');
        function new_mode() {
            var source_name = $('input[id="id_filename"]');
            var filePath = source_name.val();
            var modelist = ace.require("ace/ext/modelist");
            var mode = modelist.getModeForPath(filePath).mode
            editor.session.setMode(mode)
        }
        new_mode()
        source_name.change(new_mode)
        editor.setFontSize(18);
    </script>
<script>
    $(document).ready(function () { 
        $('#remark_toggle').click(function (){
            $('#remarks').toggle();
        });
            setTimeout("RefreshPage()", 1000); })
    function RefreshPage() {
        var html= $('body').html().toString();
        if(html.indexOf('C'+'hecking') > -1){
            location.reload();
         }
        }
</script>
</div>
{%endblock%}
