<!DOCTYPE html>
<html>
    <head>
    <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Programming</title>
    {%block head%}
    {%endblock%}

    <!-- Stylesheets -->
    {%load staticfiles%}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{%static 'css/bootstrap-theme.min.css'%}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>


    <body>
    <div class='container text-left'>
    <h1>Programming Contest Time left: {{time|timeuntil}}</h1>
        <nav class='navbar navbar-inverse' role='navigation'>
        <div class='navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div><!--navbar-header-->
        <div class='collapse navbar-collapse' id='navbar-collapse-1'>
            <ul class='nav navbar-nav'>
                <li><a href={%url 'home' %}>Home</a></li>
                <li><a href={%url 'question:home' %}>Questions</a></li>
                <li><a href={%url 'question:scoreboard'%}>Scoreboard</a></li>
            </ul>
        </div><!-- Navbar-collapes-->
        </nav>
    </div><!-- container text-left-->
    <div class='container'>
    {%block body%}
    <div class='container'>
        Programming Contest.
        <ol>
            <li>Get registered by a CompSocSSC staff member</li>
            <li>Visit a question. Solve it</li>
            <li>Upload your source code. Select your language</li>
            <li>Have a look at your submissions. Traceback will be provided where possible.</li>
            <li>Move on  to another question when a submission has been termed True. Otherwise keep trying</li>
            <li>Solve as many as you can</li>
        </ol>
        In case of ties a speed tiebreaker will be held.
        You will be given a well known algorithm/program and will be asked to implement it in the language of your choice. The first to have a successfully running code will win.
        <br>
        Tiebreakers will only happen if the first place is tied.
        <hr>
        <h3>Ranking</h3>
        Ranking is based on how many questions have been solved.
        <h3>Winner</h3>
        First to complete all questions wins.
        In case of time running out first in rank wins.
        Total time alotted is announced by the administrators
    </div>
    {%endblock%}
    </div>
    </body>
</html>
