{% extends 'contest/home.html' %}
{% block body %}
<div class='center'>
    <p>{{contest}} Question List</p>
</div>
<hr>
<div class='container'>
    <div class='container center'>
        <p>You may select any of the questions to answer in any order you see fit</p>
        <p>Each question may be attempted any number of times</p>
        <p>Your score will be displayed on the contest leaderboard</p>
    </div>
    <div class='container'>
        <ul>
            {% for question in questions %}
            <li><a href="{{question.get_absolute_url}}">{{question}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
