.container{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #08D177;
}
.nav li{
    float:left;
}
.nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover {
    background-color: white;
}
a{
    text-decoration: none;
    display: block;
    color: black;
}
a:hover{
    color:grey;
    text-decoration: underline;
}
hr{
    width:85%;
}
.center{
    text-align:center;
}
