.container{
    width: 99%;
    height: 99%;
    padding: 0.1em;
}

.nav ul{
    background-color: #08D177;
    list-style-type: none;
    overflow: hidden;
    position:relative;
}
.nav ul li{
    float:left;
    position: relative;
}
.nav ul li:hover{
    background-color: white;
}
.nav .banner{
    font-weight:bold;
    padding: 0.1em 0.2em;
}
.nav ul a{
    text-align: center;
    padding: 0.2em 0.5em;
    text-decoration: none;
    display: block;
}
.nav ul li ul{
    display: block;
    opacity: 0;}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:grey;
    text-decoration: underline;
}
hr{
    width:85%;
}
.center{
    text-align:center;
}


.errorlist{
    background-color: red;
    list-style-type: none;
    display: inline;
}
pre {
    background-color:#CCC;
    padding:1em;
    overflow:scroll;
}
