<!DOCTYPE html>
<html lang='en'>
    <head>
    <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>-CSSSC-{%block title%}{%endblock%}</title>
    <!-- Stylesheets -->
    {%load staticfiles%}
    {%load bootstrap%}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>


    <body>
        <nav class='navbar navbar-default' role='navigation'>
        <div class='navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div><!--navbar-header-->
        <div class='collapse navbar-collapse' id='navbar-collapse-1'>
            <ul class='nav navbar-nav'>
                <li><a href={%url 'question:home' %}> <span class='glyphicon glyphicon-home'></span> Home</a></li>
                <li><a href={%url 'question:leaderboard'%}><span class="glyphicon glyphicon-registration-mark"></span> Leaderboard</a></li>
                {% if request.user.is_authenticated %}
                <li> {{user.profile}} <a href={% url 'login' %}>Logout</a>
                {% else %}
                <li>
                    <a href={%url "login"%}>Login</a>
                {% endif %}
                </li>
            </ul>
        </div><!-- Navbar collapse-->
        </nav>
    <div class='container text-left'>
    </div><!-- container text-left-->
    <div class='container'>
    {%block body%}
    {%endblock%}
    </div>
    </body>

</html>
